/* fonts */
/* colors */
body {
  font-family: 'Ubuntu', sans-serif;
}
.pb-0 {
  padding-bottom: 0;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1020px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.title {
  padding-bottom: 36px;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
.header {
  padding-top: 50px;
  height: 800px;
  background: linear-gradient(12.22deg, #100F13 25.71%, #201F24 53.53%, #2C2B2F 110%);
  overflow: hidden;
}
section {
  overflow: hidden;
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation .template {
  position: absolute;
  left: -400px;
  top: -204px;
  width: 850px;
  opacity: 0.3;
}
.navigation .logo__img {
  position: absolute;
  top: -18px;
}
@media (max-width: 1000px) {
  .navigation .template {
    left: -450px;
  }
}
@media (max-width: 600px) {
  .navigation .template {
    top: -190px;
    left: -550px;
    opacity: 0.4;
  }
}
@media (max-width: 416px) {
  .navigation .template {
    top: -185px;
    left: -660px;
    opacity: 0.5;
  }
}
.menu {
  margin: auto 0;
}
.menu__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__item {
  padding-left: 35px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.menu__link {
  color: #fff;
  opacity: 0.8;
}
.menu__link:hover,
.menu__link:active {
  color: #ec2227;
  opacity: 1;
  text-decoration: none;
}
/* for burger */
.menu {
  /* popup menu for burger */
}
.menu__burger {
  position: relative;
  top: -18px;
  display: none;
  float: right;
  width: 50px;
  height: 50px;
  background-color: inherit;
  z-index: 11;
}
.menu__burger span,
.menu__burger span::before,
.menu__burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  margin-top: -1px;
  margin-left: -10px;
  background: #fff;
}
.menu .menu__burger span::before,
.menu .menu__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.menu .menu__burger span::before {
  transform: translateY(-5px);
}
.menu .menu__burger span::after {
  transform: translateY(5px);
}
.menu .menu__burger--active span {
  height: 0;
}
.menu .menu__burger--active span:before {
  transform: rotate(45deg);
}
.menu .menu__burger--active span:after {
  transform: rotate(135deg);
}
.menu-popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 50%;
  background: #000;
  z-index: 10;
  transition: 0.5s;
  transform: translateY(-100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menu-popup.active {
  transform: translateX(0%);
}
.menu-popup__list {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}
.menu-popup__item {
  margin: 0 auto;
  text-align: center;
}
.menu-popup__link {
  font-size: 20px;
  color: #fff;
}
.menu-popup__link:hover {
  text-decoration: none;
  color: #ec2227;
}
@media (max-width: 1000px) {
  .menu__list.hide {
    display: none;
  }
  .show {
    display: block;
  }
}
.main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 229.5px;
  font-family: 'Noto Sans', sans-serif;
}
.main__title {
  padding-bottom: 40px;
  margin: 0;
  font-size: 44px;
  font-weight: bold;
  color: #fff;
}
.main__title .red {
  color: #ec2227;
}
.main__content {
  font-size: 18px;
  color: #fff;
}
.main .left-side {
  max-width: 450px;
}
.main .right-side img:first-child {
  opacity: 0.02;
  position: absolute;
  top: 160px;
  left: 580px;
}
.main .right-side img:nth-child(2) {
  position: absolute;
  max-width: 565.55px;
  left: 520px;
  top: 80px;
  -webkit-filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25));
}
.main .right-side img:last-child {
  position: absolute;
  max-width: 205.55px;
  left: 502px;
  top: 224px;
  -webkit-filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1200px) {
  .main .right-side img:first-child {
    top: 190px;
    left: 540px;
    max-width: 560px;
  }
  .main .right-side img:nth-child(2) {
    top: 144px;
    max-width: 452px;
    transition-duration: 0.3s;
  }
  .main .right-side img:last-child {
    top: 254px;
    max-width: 164px;
    transition-duration: 0.3s;
  }
}
@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 95px;
  }
  .left-side {
    margin: 0 auto;
    text-align: center;
  }
  .main__title {
    font-size: 34px;
  }
  .main__content {
    font-size: 16px;
  }
  .main .right-side {
    margin: 0 auto;
  }
  .main .right-side img:first-child {
    top: 410px;
    left: 33%;
    max-width: 390px;
    opacity: 0.04;
  }
  .main .right-side img:nth-child(2) {
    top: 360px;
    left: 33%;
    max-width: 306px;
    transition-duration: 0.3s;
  }
  .main .right-side img:last-child {
    top: 444px;
    left: 32%;
    max-width: 110px;
    transition-duration: 0.3s;
  }
}
@media (max-width: 600px) {
  .main .right-side img:first-child {
    left: 23%;
  }
  .main .right-side img:nth-child(2) {
    left: 23%;
  }
  .main .right-side img:last-child {
    left: 22%;
  }
}
@media (max-width: 450px) {
  .main .right-side img:first-child {
    left: 16%;
  }
  .main .right-side img:nth-child(2) {
    left: 16%;
  }
  .main .right-side img:last-child {
    left: 14%;
  }
}
@media (max-width: 416px) {
  .main .right-side img:first-child {
    left: 10%;
  }
  .main .right-side img:nth-child(2) {
    top: 380px;
    left: 10%;
    max-width: 276px;
  }
  .main .right-side img:last-child {
    top: 455px;
    left: 6%;
    max-width: 100px;
  }
}
@media (max-width: 350px) {
  .main .right-side img:first-child {
    left: 3%;
  }
  .main .right-side img:nth-child(2) {
    left: 3%;
  }
  .main .right-side img:last-child {
    top: 455px;
    left: -2%;
  }
}
.modal-block {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  z-index: 100;
  width: 770px;
  height: 444px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
}
.modal-block--shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.modal-block--left {
  width: 375px;
  height: 444px;
  margin-right: 0;
}
.modal-block--left img {
  width: 375px;
  height: 444px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.modal-block--right {
  width: 395px;
  height: 444px;
  padding: 33px 85px 20px 83px;
  background: linear-gradient(12.22deg, #100F13 0%, #201F24 33%, #2C2B2F 100%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modal-block--right .button {
  width: 100%;
  height: 36px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #ec2227;
  border: none;
  border-radius: 4px;
}
.modal-block--right .button:focus {
  outline: none;
}
.modal-block--right .button__sign-in {
  margin-top: 0;
  margin-bottom: auto;
}
.modal-block--right .forgotPass {
  margin-left: auto;
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 9px;
  color: #828282;
}
@media (max-width: 824px) {
  .modal-block {
    max-width: 395px;
  }
  .modal-block--left {
    display: none;
  }
  .modal-block--right {
    border-radius: 16px;
  }
}
@media (max-width: 450px) {
  .modal-block {
    max-width: 90%;
  }
  .modal-block--right {
    padding: 33px 30px 20px 30px;
  }
}
.sign-up {
  transform: scale(0);
  transition-duration: 0.5s;
}
.sign-in {
  transform: scale(0);
  transition-duration: 0.5s;
}
.recovery {
  transform: scale(0);
  transition-duration: 0.5s;
}
.recovery .modal-block--right {
  width: 770px;
  height: 444px;
  border-radius: 16px;
}
.recovery .form-title {
  margin-bottom: 28px;
  letter-spacing: 1.5px;
}
.recovery .form-subtitle {
  max-width: 237px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 14px;
  color: #828282;
  text-align: center;
}
.recovery .form-group,
.recovery input {
  max-width: 237px;
  margin: 0 auto;
}
.recovery .button {
  margin-top: 0;
}
.active {
  display: flex;
  transform: scale(1);
  transition-duration: 0.5s;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.form-title {
  margin: 0;
  margin-bottom: auto;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.form-group {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0px 0px 12px 0px;
}
.form-group .rfield {
  display: block;
  width: 100%;
  height: 36px;
  padding: 11px 20px 11px 32px;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
.form-group .rfield:focus {
  outline: none;
}
.form-group label {
  position: absolute;
  top: 4px;
  left: 10px;
}
.form-postscript {
  margin-top: auto;
  font-size: 12px;
  color: rgba(130, 130, 130, 0.5);
  text-align: center;
}
.form-postscript a {
  color: rgba(236, 34, 39, 0.5);
}
.form-postscript a:hover {
  text-decoration: none;
}
.development {
  padding-top: 140px;
  padding-bottom: 181px;
  background: #100f13;
  text-align: center;
  color: #fff;
}
.development__content {
  max-width: 495px;
  margin: 0 auto;
  padding-bottom: 100px;
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 0.8;
}
.development__items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.development__item:not(:last-child) {
  padding-right: 110px;
}
.development__item .template {
  position: absolute;
  top: -450px;
  left: -760px;
  width: 850px;
  height: 850px;
  opacity: 0.15;
}
.development__item .icon {
  padding-bottom: 36px;
}
.development .subtitle {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.9px;
}
@media (max-width: 1000px) {
  .development__item .template {
    top: -450px;
    left: -660px;
    opacity: 0.2;
  }
}
@media (max-width: 844px) {
  .development__items {
    flex-wrap: wrap;
  }
  .development .development__item {
    width: 40%;
    padding: 20px 40px;
  }
}
@media (max-width: 677px) {
  .development .development__item {
    width: 60%;
    margin: 0 auto;
    padding: 20px 40px;
  }
}
@media (max-width: 465px) {
  .development__item .template {
    top: -500px;
    left: -620px;
    opacity: 0.3;
  }
  .development .development__item {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;
  }
}
@media (max-width: 844px) {
  .development {
    padding-bottom: 60px;
  }
  .development__content {
    padding-bottom: 60px;
  }
}
.consulting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  padding-top: 80px;
  background: #100f13;
  color: #fff;
  text-align: center;
}
.consulting__content {
  max-width: 684px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  opacity: 0.8;
}
.consulting .diagram {
  height: 516px;
  background: url('../img/Shape.svg') center center no-repeat / cover;
}
@media (min-width: 2140px) {
  .consulting {
    height: 1000px;
  }
  .consulting .diagram {
    height: 784px;
  }
}
@media (max-width: 844px) {
  .consulting {
    height: 700px;
    padding-top: 60px;
  }
  .consulting .diagram {
    height: 466px;
    background: url('../img/Shape.svg') center center no-repeat / cover;
  }
}
@media (max-width: 684px) {
  .consulting {
    height: 650px;
  }
  .consulting .diagram {
    height: 406px;
    background: url('../img/Shape.svg') center center no-repeat / cover;
  }
}
@media (max-width: 465px) {
  .consulting {
    height: 550px;
  }
  .consulting .diagram {
    height: 267px;
    background: url('../img/Shape.svg') no-repeat / cover;
    background-position: -373px 0;
  }
}
.audition {
  padding-top: 120px;
  padding-bottom: 80px;
  background: #100f13;
  color: #fff;
  text-align: center;
}
.audition .title {
  max-width: 388px;
  margin: 0 auto;
}
.audition__content {
  max-width: 557px;
  margin: 0 auto;
  font-size: 16px;
}
.audition__content:nth-child(2) {
  padding-bottom: 36px;
}
.audition__content:nth-child(3) {
  padding-bottom: 100px;
}
.audition__offers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.audition__offer {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #1b1b1b;
  border: 1px solid rgba(151, 151, 151, 0.3);
  border-radius: 8px;
  text-align: left;
}
.audition__offers .audition__content {
  padding: 0;
  opacity: 0.7;
}
.audition__offers .audition__offer:nth-child(1) .audition__content {
  max-width: 220px;
}
.audition__offers .audition__offer:nth-child(2) .audition__content {
  max-width: 233px;
}
.audition__offer:nth-child(1) {
  padding: 30px 50px 30px 100px;
}
.audition__offer:nth-child(2) {
  padding: 30px 37px 30px 100px;
}
.audition__offer:nth-child(1) .template {
  position: absolute;
  top: -170px;
  left: -710px;
  width: 798px;
  height: 794px;
  opacity: 0.15;
}
.audition__offer:nth-child(2) .template {
  position: absolute;
  top: 220px;
  left: 70%;
  height: 794px;
  opacity: 0.15;
}
.audition__offer .icon {
  position: absolute;
  top: 37px;
  left: 40px;
}
.audition .tablet {
  position: relative;
}
.audition .tablet img {
  max-width: 100%;
}
@media (max-width: 844px) {
  .audition__content:nth-child(3) {
    padding-bottom: 40px;
  }
  .audition__offers {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .audition__offer {
    margin: 20px 10px;
  }
  .audition__offer .audition__content {
    padding: 0;
  }
  .audition__offer:nth-child(1) {
    padding: 30px 30px 30px 100px;
  }
  .audition__offer:nth-child(2) {
    padding: 30px 30px 30px 100px;
  }
}
@media (max-width: 760px) {
  .audition {
    padding-bottom: 60px;
  }
  .audition__offer {
    margin: 20px 0px;
  }
}
.contacts {
  padding-top: 100px;
  padding-bottom: 180px;
  background: #100f13;
  color: #fff;
}
.contacts .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts__info {
  display: flex;
  flex-direction: column;
}
.contacts__info .contacts__content {
  max-width: 279px;
  font-size: 14px;
}
.contacts__content {
  color: #bdc6cf;
}
.contacts__address {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  font-size: 16px;
}
.contacts__address .link:hover {
  text-decoration: none !important;
}
.contacts__address img {
  position: absolute;
  top: 5px;
  left: -42px;
}
.contacts__address .contacts__content,
.contacts__qr-code .contacts__content {
  font-size: 16px;
}
.contacts__address .contacts__content {
  max-width: 178px;
}
.contacts__qr-code {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.contacts__qr-code .contacts__content {
  padding-top: 10px;
}
@media (max-width: 787px) {
  .contacts {
    padding-top: 60px;
  }
  .contacts .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contacts__info {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contacts__qr-code {
    margin: 30px auto;
  }
  .contacts__address {
    margin: 50px auto;
    margin-bottom: 30px;
  }
  .contacts__address img {
    position: absolute;
    top: -45px;
    left: 80px;
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 34.5px;
  background: #100f13;
  border-top: 1px solid #747474;
  overflow: hidden;
}
@media (max-width: 787px) {
  .footer {
    display: none;
  }
}
